html
{
    box-sizing: border-box;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}


container {
    position: relative;
    text-align: center;
    color: white;
}

.page-header {
    background-color: #00163d;
    background-image: url(../Images/Eye.jpg);
    background-blend-mode: screen;
    background-size: cover;
    display: flex;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;

}

.page-header h1 {
    line-height: 1;
}

.header-content h4 {
    font-size: 1.5rem;
    color: #ffffff;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 1.65;
    color: #0A122A;
}


section {
    max-width: 80ch;
    margin: 3rem auto 5rem auto;
    padding: 1rem;
}


h1 {
    text-decoration-color: #ffffff;
    text-decoration-thickness: 2px;
    font-size: 100px;
    line-height: 120%;
    color: #ffffff;
    ;
}


section h2 {
    line-height: 1.1;
    padding: 0 0 1rem 0;
    color: #003180;
}


a {
    text-decoration-color: #204fd9;
    text-decoration-thickness: 2px;
    color: #0A122A;
    ;
}


section.embedded-content {
    text-align: center;
}


section iframe {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}


form label {
    display: block;
}


form input,
form textarea {
    font-size: 1rem;
    padding: 5px;
    border-radius: 0.2em;
    border: 1px solid #ccc;
    max-width: 100%;
    min-width: 80%;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #0036d6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input,
textarea {
    font-family: 'Open Sans', sans-serif;
}


form input[type="submit"] {
    background: #003180;
    border: 1px solid #003180;
    min-width: auto;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 1rem;
    color: #ffffff;
}